<div class="m-3 ">
  <h1 class="mb-2">Stupit coaching </h1>

  <h3 class="fs-5"> Ask your coaching anything</h3>
  <form action="/answer" data-turbo="false" class="d-flex w-50 ">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask" class="btn btn-primary"
  </form>
</div>
